@model MovieShopCustomer.Models.MovieGenreViewModel

@{
    ViewBag.Title = "All movies";
}

<h2>All movies</h2>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Genres
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("All", "Index", new { genreId = 0 }, new { @class = "btn btn-default" })</li>

        @foreach (var genre in Model.Genres)
        {
            <li>@Html.ActionLink(genre.Name, "filter", new {genreId = genre.GenreId}, new {@class = "btn btn-default"})</li>
        }
    </ul>
</div>
<br />
<table class="table">
   
    @foreach (var item in Model.Movies)
    {
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">

                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)"/>

                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    <p>Genre: @Html.DisplayFor(modelItem => item.Genre.Name)</p>
                    <p>Pris :@Html.DisplayFor(modelItem => item.Price),- kr</p>

                    <p>
                        @Html.ActionLink("Buy", "BuyMovie", new { id = item.MovieId }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Details", "Details", new { id = item.MovieId }, new { @class = "btn btn-default" })
                    </p>
                   
                </div>
            </div>
        </div>

    }

</table>
