@model IEnumerable<MovieShopDll.Entities.Customer>

@{
    ViewBag.Title = "All customers";
}

<h2>All customers</h2>

<p class="btn btn-default">
    
    @Html.ActionLink("Add new customer", "Create")
</p>
<br><br/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-striped">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="#"><i class="-alt fa fa-2x fa-eye fa-fw"></i></a>
                            </td>
                            <td>
                                <h4>
                                    <b>@Html.DisplayFor(Model => item.FirstName) @Html.DisplayFor(Model => item.LastName)</b>
                                </h4>
                                <p></p>
                            </td>
                            <td>
                                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle" width="60">
                            </td>
                            <td>
                                <a href="mailto:@Html.DisplayFor(Model => item.Email)">@Html.DisplayFor(Model => item.Email)</a>
                            </td>
                            <td>
                                <div class="btn-group">
                                    @Html.ActionLink("Details", "Details", new { id = item.CustomerId }, new { @class = "btn btn-default" })
                                    @Html.ActionLink("Edit", "Edit", new {id = item.CustomerId}, new {@class = "btn btn-default"})
                                    @Html.ActionLink("Delete", "Delete", new {id = item.CustomerId}, new {@class = "btn btn-default"})
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
